* 
{
	margin: 0;
	padding: 0;
}

.right-menu li
{
	display: inline-block;
	margin-top: 30px !important;

}

.right-menu li .fa
{
	font-size: 18px;
	margin-right: 10px;
	cursor: pointer;
}

.navbar-brand img 
{
	width: 160px;
}

.navbar-brand
{
	left: 50%;
	top: 13px;
	transform: translateX(-50%);
	position: absolute;
}

.header 
{
	background: #f5f6fc;
}

.navbar
{
	padding: 0 35px !important;
}

.navbar-toggler
{
	border: none !important;
outline: none !important;
padding: 0 !important;
margin-top: 32px;
}

.navbar-toggler .fa
{
	font-size: 30px;
	cursor: pointer;
}

.banner img 
{
	margin: 80px 115px;
	width: 60%;
}

.banner-img img 
{
	width: 55%;
	margin-bottom: -80px;
}

.banner
{
	position: relative;
}

.banner-title
{
	position: absolute;
	left: 50%;
	top: 20%;
}

.fashion-box
{
	position: absolute;
	margin-top: 80px;
}

.banner-title h1
{
	font-size: 55px;
	color: #fff;
	line-height: 70px;
	padding: 0px 10px 0 10px;
	background: rgba(0,0,0, 0.75)
}

/* Fashion Trend */
.fashion-trends
{
	padding: 100px 0;
}
.fashion-box
{
	margin: 80px 0;

}

.title-style h1
{
	padding: 30px 0;
}

.title-style
{
	margin: 0 auto 80px;
	height: 100px;
	width: 80%;
	max-width: 600px;
	background: #fff;
	position: relative;
	box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5)
}

.h1
{
	position: relative;
	margin-top: 3px;
}

.title-style::after
{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #f992a6;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: -1;
}
.title-style::before
{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #f992a6;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index: -1;
}
.col-md-4
{
	margin-top: 350px;
}

.trending-img
{
	position: relative;
	margin-bottom: 15px;
}
.trending-img img
{
	width: 100%;
}

.btn-buy
{
	width: 150px;
	padding: 10px 0;
	outline: none !important;
	border: 0;
	border-radius: 2px;
	position: absolute;
	background: #fff;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
	transition: .6s;
	opacity: 0;
	z-index: 1;
}

.trending-img:hover .btn-buy
{
	transform: translate(-50%,50%);
	bottom: 50%;
	opacity: 1;
}
.overlay
{
	height: 0;
	width: 100%;
	background: #333;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: .5;
}

.trending-img:hover .overlay
{
	opacity: .5;
	height: 100%;
}

/* Offer */
.offer
{
	background-image: url(img/banner-bawah2.jpg);
	background-size: cover;
	background-position: center;
}

.row
{
	margin: initial !important;
}

.subscribe
{
	max-width: 500px;
	margin-top: 80px;
	padding: 60px;
	background: #ffffff8c;
	margin-bottom: 20px;
}

.subscribe a
{
	width: 100px;
	display: block;
	color: #fff !important;
	background: #000;
	text-decoration: none;
	padding: 5px;
	text-align: center;
}

.offer img
{
	width: 300px;
	height: 400px;
	margin: -100px;
	margin-top: 150px;
}

.fashion-blog
{
	margin: 250px 0 150px 0;
}

.blog-img
{
	margin-top: -400px;
	height: 300px;
	width: 300px;
}

.blog-img img
{
	width: 100%;
	height: 100%;
}

.col-md-4 h5
{
	margin-top: 20px;
	font-weight: 600;
}

.fashion-brands
{
	margin-bottom: 150px !important;
}

.fashion-brands h1
{
	position: relative;
	margin-top: 80px;
}

.brand-logo
{
	width: 200px;
	height: 200px;
	background: #fff;
	border-radius: 50%;
	margin: 50px auto 30px;
	box-shadow: 0 2px 40px 0 rgba(110,130,208,.18);
}

.brand-logo img
{
	width: 100px;
	margin: 50px auto;
}

.footer
{
	margin-top: 50px;
	background: #f5f6fc

}

.payment, .app-download, .insta-img
{
	margin: 50px auto;
}

.payment img, .app-download img
{
	width: 300px;
	cursor: pointer;
}

.insta-img img
{
	width: 75px;
	padding: 5px;
	cursor: pointer;
}
